:root {
  --preColor_brand: 48, 44, 144;
  --preColor_altBrand: 165, 145, 128;
  --preColor_text: 64, 49, 30;
  --preColor_textAlt: 255, 254, 250;
  --preColor_complementary: 70, 6, 89;
  --color_brand: rgb(var(--preColor_brand));
  --color_altBrand: rgb(var(--preColor_altBrand));
  --color_text: rgb(var(--preColor_text));
  --color_textAlt: rgb(var(--preColor_textAlt));
  --color_complementary: rgb(var(--preColor_complementary));
  --font_primary: Lora, serif;
  --font_secondary: Barlow, sans-serif;
  --font_complementary: PT Sans, serif;
  --font_primaryBackup: none;
  --menu_type: 10;
  --menu_fontSize: 14em;
  --menu_fontWeight: 700;
  --menu_textTransform: uppercase;
  --menu_lineHeight: 38px;
  --menu_padding: 16.5px;
  --menu_color: rgb(var(--preColor_text));
  --menu_fontFamily: var(--font_secondary);
  --menu_fontStyle: normal;
  --menu_fontVariant: normal;
  --menu_burger_color: rgb(64, 49, 30);
  --menu_active_color: rgb(var(--preColor_brand));
  --menu_active_background: var(--menu_color);
  --menu_subMenu_fontSize: var(--menu_fontSize);
  --menu_subMenu_background: var(--header_main_background);
  --menu_subMenu_sm: var(--menu_subMenu_fontSize);
  --menu_subMenuLink_fontSize: var(--menu_subMenu_fontSize);
  --menu_reverted: false;
  --template_background: #fff;
  --template_fill: var(--color_brand);
  --template_fontFamily: var(--font_primary);
  --template_name: Consultant;
  --header_alwaysCollapsed: false;
  --header_main_background: rgb(var(--preColor_textAlt));
  --header_main_borderTopColor: var(--color_brand);
  --header_main_borderTopWidth: 0;
  --header_main_borderBottomColor: var(--color_brand);
  --header_main_borderBottomWidth: 0px;
  --header_main_opacity: 1.00;
  --header_sub_background: var(--header_main_background);
  --header_subheader_color_static: rgb(var(--preColor_text));
  --header_subheader_color_active: rgb(var(--preColor_brand));
  --header_topbar_color_static: rgb(var(--preColor_textAlt));
  --header_topbar_color_active: rgb(var(--preColor_brand));
  --header_fixed: false;
  --header_height: 75;
  --footer_main_background: var(--color_altBrand);
  --footer_sub_background: var(--footer_main_background);
  --logo_default_isLink: true;
  --logo_default_text: Consultant;
  --logo_default_src: /static/088/logo.svg;
  --logo_default_footer_src: themes/_global/logo.png;
  --link_name: link_06;
  --link_color: rgb(179, 14, 209);
  --link_preColor: var(--preColor_brand);
  --link_fontStyle: normal;
  --link_textDecoration: none;
  --link_fontWeight: 700;
  --link_borderBottom: none;
  --link_title: sh.fi.link-style_6;
  --link_presets_0_name: link_01;
  --link_presets_1_name: link_02;
  --link_presets_2_name: link_03;
  --link_presets_3_name: link_04;
  --link_presets_4_name: link_05;
  --blockquote1_name: blockquote_09;
  --blockquote1_default_color: var(--color_text);
  --blockquote1_default_preColor: var(--preColor_text);
  --blockquote1_default_fontStyle: italic;
  --blockquote1_default_fontSize: var(--text_fontSize);
  --blockquote1_default_fontFamily: var(--text_fontFamily);
  --blockquote1_default_fontWeight: 600;
  --blockquote1_default_lineHeight: var(--text_lineHeight);
  --blockquote1_default_background: transparent;
  --blockquote1_default_textTransform: none;
  --blockquote1_default_borderColor: rgb(var(--preColor_brand));
  --blockquote1_default_textDecoration: none;
  --blockquote1_title: sh.fi.quote-style_9;
  --blockquote1_before_color: #dcdcdd;
  --blockquote2_name: blockquote_02;
  --blockquote2_default_color: rgb(var(--preColor_text));
  --blockquote2_default_preColor: var(--preColor_text);
  --blockquote2_default_fontStyle: italic;
  --blockquote2_default_fontSize: var(--text_fontSize);
  --blockquote2_default_fontFamily: var(--text_fontFamily);
  --blockquote2_default_fontWeight: 400;
  --blockquote2_default_lineHeight: var(--text_lineHeight);
  --blockquote2_default_background: transparent;
  --blockquote2_default_textTransform: none;
  --blockquote2_default_borderColor: rgb(var(--preColor_brand));
  --blockquote2_default_textDecoration: none;
  --blockquote2_title: sh.fi.quote-style_2;
  --blockquote2_before_color: var(--color_text);
  --text_fontSize: 17em;
  --text_lineHeight: 1.4em;
  --text_fontWeight: 400;
  --text_fontStyle: normal;
  --text_fontVariant: normal;
  --text_fontFamily: var(--font_primary);
  --text_textTransform: none;
  --text_textAlign: left;
  --text_color: var(--color_text);
  --title_lineHeight: 1.4em;
  --title_fontStyle: normal;
  --title_fontWeight: 700;
  --title_fontVariant: normal;
  --title_textTransform: none;
  --title_textAlign: left;
  --title_color: var(--color_text);
  --title_heroHeading_fontSize: 76em;
  --title_heroHeading_lineHeight: 1em;
  --title_heroHeading_fontWeight: 700;
  --title_heroHeading_fontStyle: normal;
  --title_heroHeading_fontVariant: var(--title_fontVariant);
  --title_heroHeading_fontFamily: var(--font_secondary);
  --title_heroHeading_textTransform: var(--title_textTransform);
  --title_heroHeading_textAlign: var(--title_textAlign);
  --title_heroHeading_color: var(--title_color);
  --title_mainHeading_fontSize: 48em;
  --title_mainHeading_lineHeight: 1em;
  --title_mainHeading_fontWeight: 700;
  --title_mainHeading_fontStyle: normal;
  --title_mainHeading_fontVariant: var(--title_fontVariant);
  --title_mainHeading_fontFamily: var(--font_secondary);
  --title_mainHeading_textTransform: var(--title_textTransform);
  --title_mainHeading_textAlign: var(--title_textAlign);
  --title_mainHeading_color: var(--title_color);
  --title_heading_fontSize: 30em;
  --title_heading_lineHeight: 1em;
  --title_heading_fontWeight: 700;
  --title_heading_fontStyle: normal;
  --title_heading_fontVariant: var(--title_fontVariant);
  --title_heading_fontFamily: var(--font_secondary);
  --title_heading_textTransform: var(--title_textTransform);
  --title_heading_textAlign: var(--title_textAlign);
  --title_heading_color: var(--title_color);
  --title_smallHeading_fontSize: 22em;
  --title_smallHeading_lineHeight: 1.2em;
  --title_smallHeading_fontWeight: 700;
  --title_smallHeading_fontStyle: normal;
  --title_smallHeading_fontVariant: var(--title_fontVariant);
  --title_smallHeading_fontFamily: var(--font_secondary);
  --title_smallHeading_textTransform: var(--title_textTransform);
  --title_smallHeading_textAlign: var(--title_textAlign);
  --title_smallHeading_color: var(--title_color);
  --title_subHeading_fontSize: 16em;
  --title_subHeading_lineHeight: 1.2em;
  --title_subHeading_fontWeight: 300;
  --title_subHeading_fontStyle: normal;
  --title_subHeading_fontVariant: normal;
  --title_subHeading_fontFamily: var(--font_secondary);
  --title_subHeading_textTransform: uppercase;
  --title_subHeading_textAlign: var(--title_textAlign);
  --title_subHeading_color: var(--title_color);
  --btn_fontSize: 16px;
  --btn_fontFamily: var(--font_secondary);
  --btn_borderRadius: 0;
  --btn_border: 0;
  --btn_textTransform: uppercase;
  --btn_fontWeight: 700;
  --btn_fontStyle: normal;
  --btn_fill: currentColor;
  --btn_primary_fill: var(--btn_fill);
  --btn_primary_fontSize: var(--btn_fontSize);
  --btn_primary_fontFamily: var(--btn_fontFamily);
  --btn_primary_textTransform: uppercase;
  --btn_primary_fontVariant: none;
  --btn_primary_fontWeight: 600;
  --btn_primary_fontStyle: var(--btn_fontStyle);
  --btn_primary_borderRadius: 4px;
  --btn_primary_borderWidth: 0px;
  --btn_primary_borderColor: transparent;
  --btn_primary_background: rgb(var(--preColor_brand));
  --btn_primary_color: rgb(var(--preColor_textAlt));
  --btn_primary_hoverEffectsEnabled: true;
  --btn_primary_hoverEffectsValue: effect-fade-out;
  --btn_primary_textDecoration: none;
  --btn_secondary_fill: var(--btn_fill);
  --btn_secondary_fontSize: var(--btn_fontSize);
  --btn_secondary_fontFamily: var(--btn_fontFamily);
  --btn_secondary_textTransform: var(--btn_textTransform);
  --btn_secondary_fontVariant: var(--btn_fontVariant);
  --btn_secondary_fontWeight: 600;
  --btn_secondary_fontStyle: var(--btn_fontStyle);
  --btn_secondary_borderRadius: 4px;
  --btn_secondary_borderWidth: 0px;
  --btn_secondary_borderColor: transparent;
  --btn_secondary_background: rgb(var(--preColor_textAlt));
  --btn_secondary_color: rgb(var(--preColor_brand));
  --btn_secondary_hoverEffectsEnabled: true;
  --btn_secondary_hoverEffectsValue: effect-fade-out;
  --btn_secondary_textDecoration: none;
  --btn_borderPrimary_fill: var(--btn_fill);
  --btn_borderPrimary_background: transparent;
  --btn_borderPrimary_fontSize: var(--btn_fontSize);
  --btn_borderPrimary_fontFamily: var(--btn_fontFamily);
  --btn_borderPrimary_borderRadius: 4px;
  --btn_borderPrimary_textTransform: var(--btn_textTransform);
  --btn_borderPrimary_fontVariant: var(--btn_fontVariant);
  --btn_borderPrimary_fontWeight: 600;
  --btn_borderPrimary_fontStyle: var(--btn_fontStyle);
  --btn_borderPrimary_borderStyle: solid;
  --btn_borderPrimary_borderWidth: 1px;
  --btn_borderPrimary_color: rgb(var(--preColor_textAlt));
  --btn_borderPrimary_borderColor: rgb(var(--preColor_textAlt));
  --btn_borderPrimary_hoverEffectsEnabled: true;
  --btn_borderPrimary_hoverEffectsValue: effect-fade-out;
  --btn_borderPrimary_textDecoration: none;
  --btn_borderPrimary_paddingTop: 5px;
  --btn_borderPrimary_paddingBottom: 5px;
  --btn_borderSecondary_fill: var(--btn_fill);
  --btn_borderSecondary_background: transparent;
  --btn_borderSecondary_fontSize: var(--btn_fontSize);
  --btn_borderSecondary_fontFamily: var(--btn_fontFamily);
  --btn_borderSecondary_borderRadius: 4px;
  --btn_borderSecondary_textTransform: var(--btn_textTransform);
  --btn_borderSecondary_fontVariant: var(--btn_fontVariant);
  --btn_borderSecondary_fontWeight: 600;
  --btn_borderSecondary_fontStyle: var(--btn_fontStyle);
  --btn_borderSecondary_borderStyle: solid;
  --btn_borderSecondary_borderWidth: 1px;
  --btn_borderSecondary_color: rgb(var(--preColor_brand));
  --btn_borderSecondary_borderColor: rgb(var(--preColor_brand));
  --btn_borderSecondary_hoverEffectsEnabled: true;
  --btn_borderSecondary_hoverEffectsValue: effect-fade-out;
  --btn_borderSecondary_textDecoration: none;
  --btn_borderSecondary_paddingTop: 5px;
  --btn_borderSecondary_paddingBottom: 5px;
  --btn_default_fill: var(--btn_fill);
  --btn_default_paddingTop: 6px;
  --btn_default_paddingBottom: 6px;
  --btn_default_fontSize: var(--btn_fontSize);
  --btn_default_fontFamily: var(--btn_fontFamily);
  --btn_default_textTransform: var(--btn_textTransform);
  --btn_default_fontVariant: var(--btn_fontVariant);
  --btn_default_fontWeight: 600;
  --btn_default_fontStyle: var(--btn_fontStyle);
  --btn_default_borderRadius: 0;
  --btn_default_borderWidth: 0;
  --btn_default_borderColor: transparent;
  --btn_default_background: transparent;
  --btn_default_color: rgb(var(--preColor_brand));
  --btn_default_hoverEffectsEnabled: true;
  --btn_default_hoverEffectsValue: effect-fade-out;
  --btn_default_textDecoration: none;
  --input_fontSize: var(--text_fontSize);
  --input_height: auto;
  --input_color: var(--text_color);
  --input_preBgColor: 255, 255, 255;
  --input_background: rgb(var(--input_preBgColor));
  --input_borderWidth: 1px;
  --input_borderColor: #cccccc;
  --input_borderRadius: 0;
  --input_textTransform: none;
  --input_textarea_fontSize: var(--input_fontSize);
  --input_textarea_height: 140px;
  --input_textarea_color: var(--input_color);
  --input_textarea_background: var(--input_background);
  --input_textarea_borderWidth: var(--input_borderWidth);
  --input_textarea_borderColor: var(--input_borderColor);
  --input_textarea_borderRadius: var(--input_borderRadius);
  --input_textarea_textTransform: var(--input_textTransform);
  --input_select_fontSize: var(--input_fontSize);
  --input_select_height: var(--input_height);
  --input_select_color: var(--input_color);
  --input_select_background: var(--input_background);
  --input_select_borderWidth: var(--input_borderWidth);
  --input_select_borderColor: var(--input_borderColor);
  --input_select_borderRadius: var(--input_borderRadius);
  --input_select_textTransform: var(--input_textTransform);
  --input_radio_fontSize: var(--input_fontSize);
  --input_radio_color: var(--input_color);
  --input_radio_borderColor: var(--input_borderColor);
  --input_radio_textTransform: var(--input_textTransform);
  --function_darkenBrand_0: 10;
  --function_darkenBrand_1: 15;
  --function_darkenBrand_2: 50;
  --function_rgbaBrand_0: 3;
  --function_rgbaBrand_1: 5;
  --function_rgbaBrand_2: 6;
  --function_rgbaBrand_3: 7;
  --function_rgbaBrand_4: 8;
  --function_rgbaBrand_5: 9;
  --function_link_rgba_0: 1;
  --function_link_rgba_1: 2;
  --function_button_primary_darken_0: 10;
  --function_button_primary_darken_1: 15;
  --function_button_secondary_darken_0: 10;
  --function_button_secondary_darken_1: 15;
  --function_button_borderPrimary_darken_0: 10;
  --function_button_borderPrimary_darken_1: 15;
  --function_button_borderSecondary_darken_0: 10;
  --function_button_borderSecondary_darken_1: 15;
  --divider_default: solid;
  --divider_solid_width: 100;
  --divider_solid_align: left;
  --divider_solid_color: var(--color_text);
  --divider_dashed_width: 100;
  --divider_dashed_align: left;
  --divider_dashed_color: var(--color_text);
  --divider_dotted_width: 100;
  --divider_dotted_align: left;
  --divider_dotted_color: var(--color_text);
  --divider_dots_width: 100;
  --divider_dots_align: left;
  --divider_dots_color: var(--color_text);
  --divider_slant_width: 100;
  --divider_slant_align: left;
  --divider_slant_color: var(--color_text);
  --divider_waves_width: 100;
  --divider_waves_align: left;
  --divider_waves_color: var(--color_text);
  --divider_dash_width: 100;
  --divider_dash_align: left;
  --divider_dash_color: var(--color_text);
  --divider_zigzag_width: 100;
  --divider_zigzag_align: left;
  --divider_zigzag_color: var(--color_text);
  --countdown_layout: circles;
  --countdown_circleColor: rgb(var(--preColor_brand));
  --countdown_timesUpMessageColor: var(--color_text);
  --countdown_number_fontWeight: var(--title_mainHeading_fontWeight);
  --countdown_number_fontStyle: var(--title_mainHeading_fontStyle);
  --countdown_number_textTransform: var(--title_mainHeading_textTransform);
  --countdown_number_fontFamily: var(--title_mainHeading_fontFamily);
  --countdown_number_fontVariant: var(--title_mainHeading_fontVariant);
  --countdown_number_fontSize: var(--title_mainHeading_fontSize);
  --countdown_number_lineHeight: var(--title_mainHeading_lineHeight);
  --countdown_number_letterSpacing: 0;
  --countdown_number_textDecoration: none;
  --countdown_number_color: rgb(var(--preColor_text));
  --countdown_caption_fontWeight: var(--title_smallHeading_fontWeight);
  --countdown_caption_fontStyle: var(--title_smallHeading_fontStyle);
  --countdown_caption_textTransform: var(--title_smallHeading_textTransform);
  --countdown_caption_fontFamily: var(--title_smallHeading_fontFamily);
  --countdown_caption_fontVariant: var(--title_smallHeading_fontVariant);
  --countdown_caption_fontSize: var(--title_smallHeading_fontSize);
  --countdown_caption_lineHeight: var(--title_smallHeading_lineHeight);
  --countdown_caption_letterSpacing: 0;
  --countdown_caption_textDecoration: none;
  --countdown_caption_color: rgb(var(--preColor_text));
  --timeline_layout: 1;
  --timeline_align: center;
  --timeline_shape: circle;
  --timeline_circleColor: var(--color_brand);
  --timeline_lineColor: rgba(var(--preColor_brand), 0.4);
  --timeline_date_fontWeight: var(--title_subHeading_fontWeight);
  --timeline_date_fontStyle: var(--title_subHeading_fontStyle);
  --timeline_date_textTransform: var(--title_subHeading_textTransform);
  --timeline_date_fontFamily: var(--title_subHeading_fontFamily);
  --timeline_date_fontVariant: var(--title_subHeading_fontVariant);
  --timeline_date_fontSize: var(--title_subHeading_fontSize);
  --timeline_date_lineHeight: var(--title_subHeading_lineHeight);
  --timeline_date_letterSpacing: 0;
  --timeline_date_textDecoration: none;
  --timeline_date_color: rgb(var(--preColor_text));
  --timeline_title_fontWeight: var(--title_smallHeading_fontWeight);
  --timeline_title_fontStyle: var(--title_smallHeading_fontStyle);
  --timeline_title_textTransform: var(--title_smallHeading_textTransform);
  --timeline_title_fontFamily: var(--title_smallHeading_fontFamily);
  --timeline_title_fontVariant: var(--title_smallHeading_fontVariant);
  --timeline_title_fontSize: var(--title_smallHeading_fontSize);
  --timeline_title_lineHeight: var(--title_smallHeading_lineHeight);
  --timeline_title_letterSpacing: 0;
  --timeline_title_textDecoration: none;
  --timeline_title_color: rgb(var(--preColor_text));
  --timeline_text_fontWeight: var(--text_fontWeight);
  --timeline_text_fontStyle: var(--text_fontStyle);
  --timeline_text_textTransform: var(--text_textTransform);
  --timeline_text_fontFamily: var(--text_fontFamily);
  --timeline_text_fontVariant: var(--text_fontVariant);
  --timeline_text_fontSize: var(--text_fontSize);
  --timeline_text_lineHeight: var(--text_lineHeight);
  --timeline_text_letterSpacing: 0;
  --timeline_text_textDecoration: none;
  --timeline_text_color: rgb(var(--preColor_text));
  --quote_default_color: var(--color_text);
  --quote_default_preColor: var(--preColor_text);
  --quote_default_fontStyle: italic;
  --quote_default_fontSize: var(--text_fontSize);
  --quote_default_fontFamily: var(--text_fontFamily);
  --quote_default_fontWeight: 700;
  --quote_default_lineHeight: var(--text_lineHeight);
  --quote_default_background: transparent;
  --quote_default_textTransform: none;
  --quote_default_borderColor: transparent;
  --quote_default_textDecoration: none;
  --link1_color: var(--color_brand);
  --link1_preColor: var(--preColor_brand);
  --link1_fontStyle: normal;
  --link1_textDecoration: none;
  --link1_fontWeight: 400;
  --link1_borderBottom: none;
  --link1_title: sh.fi.link-style_1;
  --link2_color: var(--color_brand);
  --link2_preColor: var(--preColor_brand);
  --link2_fontStyle: normal;
  --link2_textDecoration: none;
  --link2_fontWeight: 400;
  --link2_borderBottom: none;
  --link2_title: sh.fi.link-style_2;
  --link3_color: var(--color_brand);
  --link3_preColor: var(--preColor_brand);
  --link3_fontStyle: normal;
  --link3_textDecoration: none;
  --link3_fontWeight: 400;
  --link3_borderBottom: none;
  --link3_title: sh.fi.link-style_3;
  --link4_color: var(--color_brand);
  --link4_preColor: var(--preColor_brand);
  --link4_fontStyle: normal;
  --link4_textDecoration: none;
  --link4_fontWeight: 400;
  --link4_borderBottom: none;
  --link4_title: sh.fi.link-style_4;
  --link5_color: var(--color_brand);
  --link5_preColor: var(--preColor_brand);
  --link5_fontStyle: normal;
  --link5_textDecoration: none;
  --link5_fontWeight: 400;
  --link5_borderBottom: none;
  --link5_title: sh.fi.link-style_5;
  --link6_color: var(--color_brand);
  --link6_preColor: var(--preColor_brand);
  --link6_fontStyle: normal;
  --link6_textDecoration: none;
  --link6_fontWeight: 400;
  --link6_borderBottom: none;
  --link6_title: sh.fi.link-style_6;
  --function_link_color_darken_10: 162, 13, 189;
  --function_template_fill_lighten_20: 58, 53, 173;
  --function_color_brand_darken_20: 39, 36, 116;
  --function_color_brand_lightness: #FFF;
  --function_color_altBrand_lightness: #000;
  --function_color_text_lightness: #FFF;
  --function_color_textAlt_lightness: #000;
  --function_color_complementary_lightness: #FFF;
  --function_menu_active_color_lightness: #FFF;
  --function_color_altBrand_darken_20: 138, 116, 98;
  --function_color_complementary_darken_20: 57, 5, 72;
  --templateX_paddingTop: 0;
  --brandingTheme_colorTheme: custom;
  --brandingTheme_defaultColor: #0D47FB;
  --brandingTheme_hoverColor: #0A39C9;
  --brandingTheme_focusColor: #0A39C9;
  --brandingTheme_pressedColor: #4A75FC;
  --brandingTheme_cssLogoFilter: contrast(0) sepia(100%) hue-rotate(305deg) brightness(1.32) saturate(10.75);
  --brandingTheme_themeApplyVariation: standard;
  --brandingTheme_innerColor: #ffffff;
  --brandingTheme_borderRadius: 4px;
  --brandingTheme_browserColorTheme: #ffffff;
  --brandingTheme_defaultColor-rgb: 13,71,251;
  --brandingTheme_hoverColor-rgb: 10,57,201;
  --brandingTheme_focusColor-rgb: 10,57,201;
  --brandingTheme_pressedColor-rgb: 74,117,252;
  --brandingTheme_innerColor-rgb: 255,255,255
}
